<div class="row mb30">
  <form role="form">
    <div class="col-sm-2">
      <div {{bind-attr class=":form-group missingBalance:has-error"}}>
        <label for="balance">Balance</label>
        {{input value=balance class="form-control" id="balance"}}
      </div>
    </div>
    <div class="col-sm-2">
      <div {{bind-attr class=":form-group missingInterest:has-error"}}>
        <label for="interest">Interest Rate</label>
        {{input value=interest class="form-control" id="interest"}}
      </div>
    </div>
    <div class="col-sm-2">
      <div {{bind-attr class=":form-group missingMonthly:has-error"}}>
        <label for="monthly">Monthly Payment</label>
        {{input value=monthly class="form-control" id="monthly"}}
      </div>
    </div>
    <div class="col-sm-2 col-sm-offset-2">
      <button {{bind-attr disabled=cannotCalculate}}{{action calculate}} class="btn btn-primary">Calculate</button>
    </div>
  </form>
</div>

{{#if canShowTable}}
  <div class="row">
    <table class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <td>Month</td>
          <td>Amount Paid</td>
          <td>New Balance</td>
        </tr>
      </thead>
      <tbody>
        {{#each payment in payments}}
        <tr>
          <td>{{payment.date}}</td>
          <td class="pointer">
            {{inline-editable action="adjustPayment" number=payment.number value=payment.amountPaid}}
          </td>
          <td>{{payment.newBalance}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}
