<div class="row mb30">
  <form role="form">
    <div class="col-sm-2">
      <div {{bind-attr class=":form-group missingBalance:has-error"}}>
        <label for="balance">Balance</label>
        {{input value=balance class="form-control" id="balance"}}
      </div>
    </div>
    <div class="col-sm-2">
      <div {{bind-attr class=":form-group missingInterestRate:has-error"}}>
        <label for="interest-rate">Interest Rate</label>
        {{input value=interestRate class="form-control" id="interest-rate"}}
      </div>
    </div>
    <div class="col-sm-2">
      <div {{bind-attr class=":form-group missingTerm:has-error"}}>
        <label for="term">Term</label>
        {{input value=term class="form-control" id="term"}}
      </div>
    </div>
    <div class="col-sm-2 col-sm-offset-2">
      <button {{bind-attr disabled=cannotCalculate}}{{action calculate}} class="btn btn-primary">Calculate</button>
    </div>
  </form>
</div>

{{#if canShowTable}}
  <div class="row">
    <table class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <td>Month</td>
          <td>Payment</td>
          <td>Principal Paid</td>
          <td>Interest Paid</td>
          <td>Total Interest</td>
          <td>Balance</td>
        </tr>
      </thead>
      <tbody>
        {{#each payment in payments}}
        <tr>
          <td>{{payment.date}}</td>
          <td class="pointer">
            {{inline-editable action="adjustPayment" number=payment.number value=payment.amountPaid}}
          </td>
          <td>{{payment.principalPaid}}</td>
          <td>{{payment.interestPaid}}</td>
          <td>{{payment.interestToDate}}</td>
          <td>{{payment.newBalance}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}
